@font-face {
  font-family: "Inter Variable";
  src: url(/fonts/proportional/Inter-VariableFont_opsz,wght.woff2)
    format("woff2");
  font-weight: 100 900;
  font-feature-settings: "liga" 1, "calt" 1, "cv05";
  font-style: normal;
}

@font-face {
  font-family: "Inter Variable";
  src: url(/fonts/proportional/Inter-Italic-VariableFont_opsz,wght.woff2)
    format("woff2");
  font-weight: 100 900;
  font-feature-settings: "liga" 1, "calt" 1, "cv05";
  font-style: italic;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}

:root {
  color-scheme: light dark;
  font-family:
    "Inter Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;

  --big-text-color: light-dark(#161616, #f0f0f0);
  --text-color: light-dark(#535353, #b9b9b9);
  --secondary-text-color: light-dark(#6e6e6e, #a1a1a1);
}

header {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 0.7rem;

  margin-bottom: 1rem;

  gap: 1rem;
  border-bottom: 1px solid light-dark(#c4c4c4, #4e4e4e);

  & a {
    font-size: 32px;
    font-weight: 300;

    &[aria-current="page"] {
      font-weight: 700;
      color: var(--big-text-color);
      text-decoration: none;
    }
  }
}

.friend-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;

  & li {
    list-style: none;
    min-width: fit-content;
  }
}

@media (prefers-reduced-motion: reduce) {
  .friend .animated {
    display: none !important;
  }

  .friend .static {
    display: block !important;
  }
}

.friend .animated {
  display: block;
}

.friend .static {
  display: none;
}

.friend {
  image-rendering: pixelated;
}

.pfp {
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.65rem;
}

footer {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);

  margin-top: 1.5rem;
  gap: 1rem;
  height: 5.5rem;
}

main {
  display: grid;
  min-height: 100svh;

  grid-template-rows: auto 1fr auto;

  width: 45%;
  max-width: 50rem;
  margin: auto;

  gap: 0.7rem;
}

@media screen and (max-width: 600px) {
  main {
    width: 95%;
  }

  .fp-image img {
    height: 325px;
  }

  header {
    padding-top: 1.45rem;
  }

  footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  main {
    width: 90%;
  }
}

.article-header {
  padding-bottom: 1rem;
  color: var(--big-text-color);

  & time {
    color: var(--secondary-text-color);
    font-size: 24px;
  }
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & li article time {
    color: var(--secondary-text-color);
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  line-height: 1.7;

  overflow: hidden;

  color: var(--text-color);

  & pre {
    overflow: auto;
    padding: 0.5rem 0.75rem;

    border: 1px solid light-dark(#00000023, #ffffff18);
  }

  & blockquote {
    border-left: 2px solid light-dark(#bdbdbd, #666);
    padding: 0.35rem;

    & * {
      margin-left: 0.5rem;
    }
  }

  & p:has(img) {
    display: flex;
    justify-content: center;
  }

  & p code {
    background-color: light-dark(#00000017, #ffffff0a);
    padding: 0.25rem 0.4rem;

    font-size: 14px;

    border-radius: 4px;
    margin: 2px;
  }
}

& h1, h2, h3, h4, h5 {
  color: var(--big-text-color);
}

p {
  color: var(--text-color);
}

code {
  font-family:
    "Adwaita Mono", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

h1 {
  font-weight: 200;
}

h2, h3 {
  font-weight: 300;
}

figcaption {
  font-size: 14px;
  color: var(--secondary-text-color);
}

.error-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & h1 {
    font-size: 92px;
    font-weight: 100;
    line-height: 1.15;
  }

  & p {
    color: var(--secondary-text-color);
  }
}
