@font-face {
  font-family: "Inter Variable";
  src: url(/fonts/proportional/Inter-VariableFont_opsz,wght.woff2)
    format("woff2");
  font-weight: 100 900;
  font-feature-settings: "liga" 1, "calt" 1, "cv05";
  font-style: normal;
}

@font-face {
  font-family: "Inter Variable";
  src: url(/fonts/proportional/Inter-Italic-VariableFont_opsz,wght.woff2)
    format("woff2");
  font-weight: 100 900;
  font-feature-settings: "liga" 1, "calt" 1, "cv05";
  font-style: italic;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url(/fonts/mono/AdwaitaMono-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}

:root {
  color-scheme: light dark;
  font-family:
    "Inter Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
}

header {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;

  margin-bottom: 1rem;

  gap: 1rem;
  border-bottom: 1px solid light-dark(#c4c4c4, #4e4e4e);

  & a {
    font-size: 24px;

    &[aria-current="page"] {
      color: light-dark(black, white);
      text-decoration: none;
    }
  }
}

.friend-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;

  & li {
    list-style: none;
    min-width: fit-content;
  }
}

@media (prefers-reduced-motion: reduce) {
  .friend .animated {
    display: none !important;
  }

  .friend .static {
    display: block !important;
  }
}

.friend .animated {
  display: block;
}

.friend .static {
  display: none;
}

.friend {
  image-rendering: pixelated;
}

.pfp {
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.65rem;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  height: 6rem;
}

main {
  width: 45%;
  max-width: 50rem;
  margin: auto;
}

@media screen and (max-width: 600px) {
  main {
    width: 95%;
  }
}

@media screen and (max-width: 1300px) {
  main {
    width: 90%;
  }
}

.article-header {
  padding-bottom: 1rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  line-height: 1.7;

  & pre {
    overflow: auto;
    padding: 0.5rem;
    outline: 1px solid light-dark(#e3e3e3, #313131);

    /* border-radius: 0.25rem; */
  }

  & blockquote {
    border-left: 2px solid light-dark(#bdbdbd, #666);
    padding: 0.35rem;

    & * {
      margin-left: 0.5rem;
    }
  }

  & p:has(img) {
    display: flex;
    justify-content: center;
  }
}

code {
  font-family:
    "Adwaita Mono", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

h1 {
  font-weight: 200;
}

h2, h3 {
  font-weight: 300;
}
